.spinner {
    background-color: rgba(255, 255, 255); /* Add transparency for better UX */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 9999; /* Ensure it's on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth fade-out */
}

.Loading {
    position: relative;
    display: inline-block;
    width: 200px; /* Adjust to your preferred size */
    height: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
}

.Loading:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 2s infinite ease-in-out; /* Shorten duration for better feedback */
}

@keyframes load {
    0% {
        width: 0;
        background: #B57EDC;
    }
    50% {
        width: 60%;
        background: #8A2BE2;
    }
    100% {
        width: 100%;
        background: #B57EDC;
    }
}
